.header--container {
  height: 6rem;
  background: rgb(146, 9, 238);
  background: linear-gradient(
    106deg,
    rgba(146, 9, 238, 1) 0%,
    rgba(212, 4, 130, 1) 51%,
    rgba(176, 54, 219, 1) 100%
  );
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .header--container {
    height: 7rem;
  }
}
